*.dylib
*.dll
*.so

*cronet*
/bin/*
!/bin/.gitkeep
.build
.idea
cert
data
**/*.log
.DS_Store

**/*.syso
node_modules
*.db
*.json
!v2/hcore/tray/i18n/*.json
.ci-cache-keys/

# local TestEngine windows regression workdirs
v2/hcore/testdata/te_win*/
